<nav>
  <img src="assets/images/logotipo.svg">
  <div class="eKontentNav">
    <a href="#">NOSOTROS</a>
    <a href="#">CREADORES</a>
    <a href="#">CLIENTES</a>
  </div>
</nav>
<div class="Ayuda">
  <span>Dejanos ayudarte a contar historias cautivantes</span>
  <div class="text-box">
      Atrapa a tu audiencia con contenido diverso, hecho a tu medida. 
      Cómpartenos tus datos de contacto y nos comunicaremos 
      contigo y te informaremos del desarrollo de eKontent, nuestra 
      plataforma de contenidos. 
  </div>
  <button>INICIAR LA EXPERIENCIA</button>
</div>