.desktop{
    display: inherit;
}

.mobile{
    display: none;
}
nav{
    display: flex;
    justify-content: space-around;
}

.logo{
    margin-left:6.5%;
}

.audiencia{    
  background-color: #f7f7f7;
}

.audiencia-left{
    padding-top: 8%;
}


.tittle{
    width: 457px;
    font-family: GothamBold;
    font-size: 30px;
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
    color: #373737;
    margin-left: 19.5%;
}

.under-tittle-audiencia{
    margin-left: 19.5%;
    width: 37px;
    height: 6px;
    background-color: #373737; 
    float: left;
}

.under-tittle{
    width: 37px;
    height: 6px;
    background-color: #373737; 
    float: left;
    margin-left: 19.5%;
}

.under-tittle-contenido{
    width: 37px;
    height: 6px;
    background-color: #373737; 
    float: left;
}

.tittleWhite{
    width: 304px;
    height: 92px;
    font-family: GothamBold;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.25;
    text-align: left;
    padding-top: 8%;
    color: #ffffff;
    padding-left: 29%;
}



.eKontentNav{
    width: 75%;
    display: flex;
    justify-content: flex-end;
}

.eKontentNav > a{
    margin-right: 8.4%;
    text-decoration: none;
    font-family: Gotham;
    font-size: 16px;
    text-align: center;
    color: #adadad;

}

.text-box{
    margin-left: 19.5%;
}

.tittle-box{
    width: 274px;
    height: 40px;
    font-family: SourceSansPro;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25;
    text-align: left;
    color: #b3a1d1;
    margin-bottom: 1%;
}

.content-box{
    width: 517px;
    height: 225px;
    font-family: SourceSansPro;
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
    color: #808080;
}

.button{
    margin-left: 19.5%;
    width: 280px;
    height: 48px;
    border-radius: 24px;
    background-image: linear-gradient(to right, #4ac8d9, #9ea5ff);
    border: none;
    box-shadow: none;
}
.text-button{
    font-family: SourceSansPro;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
}

.provee-wrapper{
    display: flex;
    justify-content: space-around;

}

.provee-wrapper > img{
    margin-left: 80px;
}

.ekontent-provee{   
  width: 100%;
  height: 470px;
  background-color: #f7f7f7;
}

.tittle-content{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 2.5%;
    font-size: 24px;
}

.tittle-content-p{    
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: -3.5%;
    font-size: 24px;
}

.tittle-p{    
  width: 730px;
  font-family: GothamBold;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #373737;
}

.provee-box{
    width: 457px;
    height: 168px;
    margin-right: 205px;
    margin-top: 80px;
}

.provee-box > .tittle-box{
    width: 304px !important;    
    margin-bottom: 3%;
}

.provee-box > .content-box{
    width: 411px;
}


.ekontent-genera > .tittle-content > .tittle-p{
    width: 672px;
}

.content-genera{
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
}

.tittle-content-genera{
    width: 240px;
    height: 36px;
    font-family: GothamBold;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #373737;
    margin: 10% 0 10% 0;
}

.content-box-genera{
    width: 220px;
    height: 80px;
    font-family: SourceSansPro;
    font-size: 16px;
    text-align: center;
    color: #808080;
}

.content-left{
    margin-left: 260px;
    text-align: center;
}

.content-right{
    margin-right: 270px;
    text-align: center;
}

.button-genera{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.ekontent-genera > .button-genera > .button{
    width: 20.6%;
    margin: 0;
}

.tittle-contenido{
    width: 85%;    
    height: 18%;
    font-family: GothamBold;
    font-size: 30px;
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
    color: #373737;
}

.contenido-wrapper{
    margin-left: 7.5%;
    padding-top: 40%;
}

.content-contenido{
    width: 65%;
    height: 10%;
    font-family: SourceSansPro;
    font-size: 16px;
    text-align: left;
    color: #808080;
}

.content-creativo{
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
}

.tittle-content-creativo{
    width: 240px;
    height: 36px;
    font-family: GothamBold;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #373737;
    margin: 10% 0 10% 0;
}

.content-box-creativo{
    width: 220px;
    height: 80px;
    font-family: SourceSansPro;
    font-size: 16px;
    text-align: center;
    color: #808080;
}


.button-creativo{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
}
.ekontent-creativo > .button-creativo > .button{
    width: 20.6%;
    margin: 0;
}

.ekontent-creativo > .content-creativo > .content-left{
    margin: 0;
    text-align: center;
}
.ekontent-creativo > .content-creativo > .content-center{
    margin: 0;
    text-align: center;
}
.ekontent-creativo > .content-creativo > .content-right{
    margin: 0;
    text-align: center;
}

.content-ineteresa{
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
}

.tittle-content-ineteresa{
    width: 240px;
    height: 36px;
    font-family: GothamBold;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #373737;
    margin: 10% 0 10% 0;
}

.content-box-ineteresa{
    width: 220px;
    height: 80px;
    font-family: SourceSansPro;
    font-size: 16px;
    text-align: center;
    color: #808080;
}

.button-ineteresa{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.ekontent-ineteresa{
    background-color: #f7f7f7;
}

.ekontent-ineteresa > .button-ineteresa > .button{
    width: 20.6%;
    margin: 0;
}

.ekontent-ineteresa > .content-ineteresa > .content-left{
    margin: 0 0 0 20%;
    text-align: center;
}

.ekontent-ineteresa > .content-ineteresa > .content-right{
    margin: 0 20% 0 0;
    text-align: center;
}

.ekontent-ineteresa > .content-ineteresa > .content-left > .content-box-ineteresa{
    margin-top: 3%;
}

.ekontent-ineteresa > .content-ineteresa > .content-right > .content-box-ineteresa{
    margin-top: 3%;
}

.ineteresa-footer{
    display: flex;
    justify-content: space-around;
    margin-top: 8%;
}

.ineteresa-footer >.tittle{
    margin-left: 15%;
    width: 40%;
}

.ineteresa-footer >.button{
    margin: 0 20% 0 0;
}

footer{
    background-color: #373737;
}

.footer-wrapper{
    padding-top: 2%;
}

.ekontent-social{
    display: flex;
    justify-content: center;
    width: 100%;
}

.imagen-centro{
    margin: 0 6%;
}

.footer-wrapper > hr {
    width: 30%;
}

.contacto{
    font-family: SourceSansPro;
    font-size: 16px;
    line-height: 2.13;
    text-align: center;
    color: #ffffff;
}

.creadores{
    font-family: SourceSansPro;
    font-size: 14px;
    line-height: 2.43;
    text-align: center;
    color: #f8f8f8;
}

.titulo-creadores{
    width: 644px;
}

.contacto > p{
    margin: 0;
}

.derechos{
    font-size: 16px;
    line-height: 2.13;
    text-align: center;
    font-family: SourceSansPro;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right, #4ac8d9, #9ea5ff);
}

.slides{
    width: 70%;
    padding-top: 40%;
}

.ekontent-description-slide .slick-slide .slick-cloned{
    width: 40% !important;
}

.ekontent-description-carousel{
    width: 100%;;
}

.ekontent-description-slide{
    
    height: 212px;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 7px 7px 10px 0 rgba(0, 0, 0, 0.2);
    margin: 0 1%;
    width: 7% !important;
    text-align: center;
}

.slide-description{
    width: 100%;
    font-family: SourceSansPro;
    font-size: 16px;
    text-align: left;
    color: #373737;
}

.slide-by{
  font-family: SourceSansPro;
  font-size: 16px;
  text-align: left;
  color: #808080;
}

.footer-slide{
    display: flex;
    justify-content: space-around;
}

.author{
    font-family: SourceSansPro;
    font-size: 16px;
    text-align: left;
    color: #aa95cc;
}

@media screen and (max-width: 360px) {    
    .desktop{
        display: none;
    }

    .mobile{
        display: inherit;
    }
    .texto-white-cuentales{
        font-size: 14px;
        color: #ffffff;
        font-family: GothamBold;
        font-weight: bold;
        padding-top: 67%;
        padding-left: 10%;
        width: 40%;
    }

    .mobile-titulo-audiencias{
        color: #373737;
        font-family: GothamBold;
        font-weight: bold;
        font-size: 30px;
        margin: 0 4% 0 4%;
        width: 92%;
    }

    .hr-mobile{
        margin-left: 19.5%;
        width: 37px;
        height: 6px;
        background-color: #373737; 
        margin: 2% 4% 0 4%;
    }

    .tittle-content{
        color:#b3a1d1;
        margin: 0 4% 0 4%;
        width: 92%;
        font-family: SourceSansPro;
        font-size: 14px;        
        font-weight: bold;  
    }
    
    .text-content{
        color: #808080;
        margin: 0 4% 0 4%;
        width: 92%;
        font-family: SourceSansPro;
        font-size: 14px;               
    }
    
    .text-content > a{
        text-decoration: none;
        color: #aa95cc;        
    }

    .button-mobile{
        margin: 5% 11%;
        width: 280px;
        height: 48px;
        border-radius: 24px;
        background-image: linear-gradient(to right, #4ac8d9, #9ea5ff);
        border: none;
        box-shadow: none;
    }

    .ekontent-provee-mobile{
        background-color: #f7f7f7;
    }

    .ekontent-provee-titulo-mobile{
        color: #373737;
        margin: 0 4% 0 4%;
        width: 92%;
        font-family: SourceSansPro;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
    }

    .generar-mobile{
        text-align: center;
    }

    .tittle-content-genera{
        margin: 5% 15%;
    }
    .content-box-genera{
        margin: 10% 15%;

    }
}
